:root {
  --soft-cyan: hsl(174, 77%, 80%);
  --strong-cyan: hsl(174, 86%, 45%);
  --dark-cyan: hsl(174, 66%, 41%);
  --light-grayish-red: hsl(14, 92%, 95%);
  --light-red: hsl(15, 100%, 70%);
  --pale-blue: hsl(226, 100%, 87%);
  --very-pale-blue: hsl(230, 100%, 99%);
  --light-grayish-blue: hsl(224, 65%, 95%);
  ---very-light-grayish-blue: hsl(223, 50%, 87%);
  --grayish: hsl(225, 20%, 60%);
  --dark-desaturated-blue: hsl(227, 35%, 25%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  background-color: var(--very-pale-blue);
  min-height: 100vh;
  font-size: 0.9375rem;
  padding: 3.75rem 0;
}

body::before {
  content: '';
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 50%;
  background: url(./images/bg-pattern.svg) no-repeat;
  background-position: left;
  background-size: cover;
  z-index: -1;
}

body,
button {
  font-family: 'Manrope', sans-serif;
}

/* Header */

header {
  text-align: center;
  background: url(./images/pattern-circles.svg) center center no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 8.125rem;
}

header h1 {
  color: var(--dark-desaturated-blue);
  font-size: 1.125rem;
}

header p {
  color: var(--grayish);
  width: 10rem;
  margin-top: 0.5rem;
  font-size: 0.75rem;
}

/* Card component */
.card {
  background-color: white;
  width: 90%;
  margin: 1.875rem auto 0;
  border-radius: 0.5rem;
  box-shadow: 0 1rem 1.5rem hsl(223, 50%, 87%, 0.2);
}

.pageview {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.875rem 1.5rem;
}

.pageview label {
  text-transform: uppercase;
  color: var(--grayish);
  letter-spacing: 0.125rem;
  font-size: 0.75rem;
}

/* Slider */
.range {
  position: relative;
  width: 100%;
}

.bar {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  top: 50%;
  overflow: hidden;
  transform: translateY(50%);
  background-color: var(--light-grayish-blue);
}

.fill {
  display: block;
  width: 0;
  height: 100%;
  background-color: var(--soft-cyan);
}

.slider {
  position: relative;
  z-index: 2;
  appearance: none;
  -webkit-appearance: none;
  margin-top: 1.625rem;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background: transparent;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: url(./images/icon-slider.svg) center center no-repeat
    var(--strong-cyan);
  box-shadow: 0 1rem 1.25rem var(--soft-cyan);
  cursor: pointer;
  transition: all 0.3s;
  z-index: 2;
}

.slider::-webkit-slider-thumb:active {
  background: url(./images/icon-slider.svg) center center no-repeat
    var(--dark-cyan);
  cursor: grabbing;
}

/* Firefox */
.slider::-moz-range-thumb {
  width: 40px;
  height: 40px;
  border: 0;
  border-radius: 50%;
  background: url(./images/icon-slider.svg) center center no-repeat
    var(--strong-cyan);
  box-shadow: 0 1rem 1.25rem var(--soft-cyan);
  cursor: pointer;
  transition: all 0.3s;
}

.slider::-moz-range-thumb:active {
  background: url(./images/icon-slider.svg) center center no-repeat
    var(--dark-cyan);

  cursor: grabbing;
}

/* Price */
.pageview .price {
  margin-top: 1.875rem;
  color: var(--dark-desaturated-blue);
  font-size: 2rem;
  font-weight: 800;
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.pageview .price small {
  color: var(--grayish);
  font-size: 0.75rem;
  font-weight: 600;
}

.payment-type {
  color: var(--grayish);
  font-size: 0.75rem;
  padding-right: 1.5rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
/* imput checkbox */
.payment-type #payment {
  margin: 0 1.5rem;
  appearance: none;
  position: relative;
  cursor: pointer;
  outline: transparent;
}

.payment-type #payment::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  width: 2.5rem;
  height: 1.25rem;
  border-radius: 1.25rem;
  transform: translate(-50%, -50%);
  background-color: var(---very-light-grayish-blue);
  transition: background-color 0.3s;
}

.payment-type #payment:checked::before {
  background-color: var(--strong-cyan);
}

.payment-type #payment::after {
  content: '';
  position: absolute;
  width: 0.875rem;
  height: 0.875rem;
  margin-left: -1rem;
  bottom: 50%;
  border-radius: 50%;
  transform: translateY(50%);
  background-color: white;
  transition: all 0.3s;
}

.payment-type #payment:checked::after {
  margin-left: 0.2rem;
}

.payment-type label span {
  color: var(--light-red);
  background-color: var(--light-grayish-red);
  padding: 0.0625rem 0.5rem;
  border-radius: 0.625rem;
  margin-left: 0.25rem;
}

/* RESUME */
.resume {
  margin-top: 2.5rem;
  padding: 2rem 0;
  border-top: 1px solid var(--light-grayish-blue);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resume ul.advantages {
  list-style: none;
  text-align: center;
}

.advantages .advantage-item {
  color: var(--grayish);
  margin-bottom: 0.5rem;
  font-size: 0.75rem;
}

.advantages .advantage-item img {
  margin-right: 0.5rem;
}

.resume button {
  margin-top: 1.875rem;
  background-color: var(--dark-desaturated-blue);
  border: none;
  color: var(---very-light-grayish-blue);
  font-weight: 900;
  height: 3rem;
  width: 12.5rem;
  border-radius: 1.5rem;
  cursor: pointer;
  transition: color 0.3s;
}

.resume button:hover {
  color: white;
}

@media (min-width: 35rem) {
  header h1 {
    font-size: 1.4rem;
  }

  header p {
    width: fit-content;
  }

  .card {
    width: 540px;
  }

  .pageview {
    padding: 50px 45px 40px;
    display: grid;
    grid-template-areas: 'view price' 'slider slider';
    grid-template-columns: 1fr 1fr;
  }

  .pageview label {
    grid-area: view;
  }

  .pageview .price {
    grid-area: price;
    margin: 0;
    display: flex;
    justify-content: flex-end;
  }

  .pageview .range {
    grid-area: slider;
  }

  .payment-type {
    position: relative;
    justify-content: center;
  }

  .payment-type #payment {
    margin: 0 2rem;
  }

  .payment-type label span {
    position: absolute;
    margin-left: 0.625rem;
  }

  .payment-type label span::after {
    content: ' discount';
  }

  .resume {
    padding: 2.1875rem 45px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .resume ul.advantages {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .resume button {
    margin: 0;
  }
}
